= cms_edit_label(@obj, :headline)
= cms_edit_string(@obj, :headline)
= cms_edit_label(@obj, :show_in_navigation)
= cms_edit_enum(@obj, :show_in_navigation)
= cms_edit_label(@obj, :sort_key)
= cms_edit_string(@obj, :sort_key)
= cms_edit_label(@obj, :error_not_found_page)
= cms_edit_reference(@obj, :error_not_found_page)
= cms_edit_label(@obj, :locale)
= cms_edit_string(@obj, :locale)
