.col-md-5
  = cms_tag(:h1, @obj, :headline)

  = cms_tag(:div, @obj, :content)

  = form_for(@presenter, url: cms_path(@obj)) do |form|
    %fieldset
      = hidden_field_tag(:return_to, params[:return_to])

      .form-group
        = form.label(:login)

        = form.text_field(:login, class: 'form-control', required: true)

      .form-group
        = form.label(:password)

        = form.password_field(:password, class: 'form-control', required: true)

      = form.submit(class: 'btn btn-default')

  = link_to(cms_path(@obj.reset_password_page)) do
    = t('login.show.reset_password')
