.col-md-12
  = cms_tag(:h1, @obj, :headline)

  = cms_tag(:div, @obj, :content)

  = form_for(@presenter, url: cms_path(@obj), html: { class: 'form-horizontal' }) do |form|
    %fieldset
      %legend
        = t('.user_legend')

      = form.hidden_field(:id)

      .form-group
        .col-md-offset-2.col-md-10
          .radio
            = form.label(:gender, value: :F) do
              = form.radio_button(:gender, :F)

              = t("helpers.label.#{form.object_name}.gender.F")

          .radio
            = form.label(:gender, value: :M) do
              = form.radio_button(:gender, :M)

              = t("helpers.label.#{form.object_name}.gender.M")

      .form-group
        = form.label(:first_name, class: 'col-md-2 control-label')

        .col-md-9
          = form.text_field(:first_name, class: 'form-control')

      .form-group
        = form.label(:last_name, class: 'col-md-2 control-label')

        .col-md-9
          = form.text_field(:last_name, class: 'form-control', required: true)

      .form-group
        = form.label(:language, class: 'col-md-2 control-label')

        .col-md-9
          = form.select(:language, form.object.language_for_select, {}, class: 'form-control')

      .form-group
        = form.label(:email, class: 'col-md-2 control-label')

        .col-md-9
          = form.email_field(:email, class: 'form-control', required: true)

      .form-group
        .col-md-offset-2.col-md-10
          .checkbox
            = form.label(:want_email) do
              = form.check_box(:want_email)

              = t("helpers.label.#{form.object_name}.want_email")

      .form-group
        .col-md-offset-2.col-md-10
          = form.submit(class: 'btn btn-default')
