




= cms_edit_string(@widget, :headline)

= cms_edit_html(@widget, :content)

= cms_edit_linklist(@widget, :partnerlinks)



= cms_edit_date(@widget, :datum)

= cms_edit_enum(@widget, :border)







